<div id="<%= dom_id desk %>">
  <p>
    <strong>Description:</strong>
    <%= desk.description %>
  </p>

  <p>
    <strong>X:</strong>
    <%= desk.x %>
  </p>

  <p>
    <strong>Y:</strong>
    <%= desk.y %>
  </p>

</div>
