<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <p style="color: green;"><%= notice %></p>

      <div id="desk">
        <h2 class="text-center"><%= @desk.description %></h2>
        <% if @desk.photo.attached? %>
          <div class="text-center">
            <%= image_tag @desk.photo, class: "img-fluid mx-auto d-block" %>
          </div>
        <% else %>
          <p class="text-center">No photo available.</p>
        <% end %>
      </div>

      <div class="text-center mt-4">
        <%= link_to "Back to desks", desks_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
